<launch>

<!--fusion all sensors  
-->
<node pkg="ros_fusion" type="ros_fusion" name="fusion" output="screen">

	<param name="lidar_right_slope" type="double" value="-0.65"/>
        <param name="lidar_left_slope"  type="double" value="0.95"/>
	<param name="lidar_x_max_dist" type="double"  value="65.0"/>
	<param name="B_lidar_right_slope" type="double" value="0.8"/>
        <param name="B_lidar_left_slope"  type="double" value="-0.8"/>
	<param name="B_lidar_x_max_dist" type="double"  value="-65.0"/>

        <param name="SRR_FR_ANGLE" type="double" value="33.0"/>
        <param name="SRR_FL_ANGLE"  type="double" value="-27.0"/>
        <param name="SRR_BR_ANGLE" type="double" value="140"/>
        <param name="SRR_BL_ANGLE"  type="double" value="220"/>
        <param name="LRR_F_ANGLE" type="double" value="2.0"/>
	<param name="LRR_B_ANGLE" type="double"  value="180"/>

        <param name="LRR_F_pos_x" type="double" value="3.7"/>
        <param name="LRR_F_pos_y" type="double" value="0.0"/>
	<param name="LRR_B_pos_x" type="double" value="-1.03"/>
        <param name="LRR_B_pos_y" type="double" value="0.2"/>

	<param name="SRR_FR_pos_x" type="double"  value="3.68"/>
	<param name="SRR_FR_pos_y" type="double"  value="-0.68"/>
	<param name="SRR_FL_pos_x" type="double"  value="3.65"/>
	<param name="SRR_FL_pos_y" type="double"  value="0.7"/>

	<param name="SRR_BL_pos_x" type="double"  value="-0.94"/>
	<param name="SRR_BL_pos_y" type="double"  value="-0.5"/>
	<param name="SRR_BR_pos_x" type="double"  value="-0.8"/>
        <param name="SRR_BR_pos_y" type="double" value="0.8"/>  
	<param name="LIDAR_B_ANGLE" type="double" value="180"/>	 
	<param name="PUBLISHER_SENSOR_TYPE" type="double" value="0"/>
		
</node>

<node pkg="tf" type="static_transform_publisher"  name="velodyne_link" args="1.3 0 0 1.54 3.14 3.14 fusionData velodyne  100" /> 
<node pkg="tf" type="static_transform_publisher"  name="pandar_link" args="0.3 0 2 -1.55 3.14 3.14 fusionData pandar  100" /> 
<node pkg="tf" type="static_transform_publisher" name="lidar_link_front" args="3.7 0 0.5 0 0 0  fusionData ldmrs1 100" />
<node pkg="tf" type="static_transform_publisher" name="lidar_link_rear" args="-1.5 0.2 0.5 3.14 0 0 fusionData ldmrs2 100" />
<!--node pkg="rviz" type="rviz" name="rviz"/-->

</launch>
